<div class="flash p-0 m-0" style="background-color: #F2E9E4;">
    <% if(success && success.length){ %>
        <div class=" alert alert-success alert-dismissible fade show col-6 offset-3" role="alert">
    <%= success %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
</div>
<% } %>
    <% if(error && error.length){ %>
        <div class="alert alert-danger alert-dismissible fade show col-6 offset-3" role="alert">
            <%= error %>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
        </div>
        <% } %>


            </div>