<% layout('/layout/boilerplate') -%>


    <body>
        <section class="notFound">
            <div class="upper">
                <div class="errorImg">
                    <img src="/images/404.gif" alt="404">
                </div>
                <div class="errorText">
                    <h1>Page is not Found</h1>
                    <p>The page you are trying to access does not exist or has been moved. Try going back to our
                        homepage.
                    </p>
                </div>
            </div>
            <div class="homeButton">
                <form method="get" action="/listings">
                    <button type="submit">Home Page</button>
                </form>
            </div>
        </section>

    </body>